In [23]:
import pandas as pd

## Nov 23 NLP Boot camp - 03

In [24]:
data = pd.read_csv("https://raw.githubusercontent.com/Ankit152/IMDB-sentiment-analysis/master/IMDB-Dataset.csv")

In [25]:
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [26]:
data.head()  # gives first 5 rows

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [27]:
data.tail() # gives last 5 records

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [28]:
data.sample(10) # get 10 random sample records 
# here the numbers are showing as index numbers

                                                  review sentiment
27925  When I watched this movie in my adolescence, I...  positive
13244  On Halloween a town is terrorized by a lunatic...  negative
11773  I was at a friends house for Thanksgiving and ...  positive
43711  My personal vision of hell is being locked in ...  negative
7720   I only saw IPHIGENIA once, almost 30 years ago...  positive
38412  The basic idea for this movie was good, but th...  negative
14779  Yes, it's not a great cinematic achievement, b...  positive
14222  This movie in away was super-clever. It's them...  negative
40573  This is definitely one of the best movies I've...  positive
48759  If I only had one camera that was accidentally...  negative

In [29]:
# if you want to see first reieview  from your data 
data["review"]

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. <br /><br />The...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [10]:
# get the first review

data["review"][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [11]:
data["sentiment"][0]

'positive'

In [ ]:
# <br /><br />T if we are getting this html data 
# we need to clean the data
# why its require
# when we pass the data to model that should be very cleaned.

1. Tokenization
2. Lower casing
3. Upper casing
4. Emojies
5. Punctuations
6. html, url
7. sropwords
8. abbravation 
9. stemming and lemmatization
10. spelling correction
11. whitespace

In [12]:
# lower casing of the data with respect to text data 

# data["review"][3] # all the review list

data["review"][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [13]:
data["review"][3].upper()

"BASICALLY THERE'S A FAMILY WHERE A LITTLE BOY (JAKE) THINKS THERE'S A ZOMBIE IN HIS CLOSET & HIS PARENTS ARE FIGHTING ALL THE TIME.<BR /><BR />THIS MOVIE IS SLOWER THAN A SOAP OPERA... AND SUDDENLY, JAKE DECIDES TO BECOME RAMBO AND KILL THE ZOMBIE.<BR /><BR />OK, FIRST OF ALL WHEN YOU'RE GOING TO MAKE A FILM YOU MUST DECIDE IF ITS A THRILLER OR A DRAMA! AS A DRAMA THE MOVIE IS WATCHABLE. PARENTS ARE DIVORCING & ARGUING LIKE IN REAL LIFE. AND THEN WE HAVE JAKE WITH HIS CLOSET WHICH TOTALLY RUINS ALL THE FILM! I EXPECTED TO SEE A BOOGEYMAN SIMILAR MOVIE, AND INSTEAD I WATCHED A DRAMA WITH SOME MEANINGLESS THRILLER SPOTS.<BR /><BR />3 OUT OF 10 JUST FOR THE WELL PLAYING PARENTS & DESCENT DIALOGS. AS FOR THE SHOTS WITH JAKE: JUST IGNORE THEM."

In [14]:
# do for all the rows.


data["review"] = data["review"].str.lower()

In [15]:
data["review"]

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [16]:
data["review"]=data["review"].str.upper()

In [17]:
data["review"]

0        ONE OF THE OTHER REVIEWERS HAS MENTIONED THAT ...
1        A WONDERFUL LITTLE PRODUCTION. <BR /><BR />THE...
2        I THOUGHT THIS WAS A WONDERFUL WAY TO SPEND TI...
3        BASICALLY THERE'S A FAMILY WHERE A LITTLE BOY ...
4        PETTER MATTEI'S "LOVE IN THE TIME OF MONEY" IS...
                               ...
49995    I THOUGHT THIS MOVIE DID A DOWN RIGHT GOOD JOB...
49996    BAD PLOT, BAD DIALOGUE, BAD ACTING, IDIOTIC DI...
49997    I AM A CATHOLIC TAUGHT IN PAROCHIAL ELEMENTARY...
49998    I'M GOING TO HAVE TO DISAGREE WITH THE PREVIOU...
49999    NO ONE EXPECTS THE STAR TREK MOVIES TO BE HIGH...
Name: review, Length: 50000, dtype: object

In [18]:
type(data["review"])

pandas.core.series.Series

In [ ]:
# Regular Expressions 
# 5. HTML and URL part
# Reg Ex is part of Python
# use the chat gpt to form the Reg Ex.

2. Tackle HTML and URL's

In [19]:
text="""<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Welcome to My Website</title><style>body{font-family:'Arial',sans-serif;background-color:#f0f0f0;color:#333;margin:20px}h1{color:#007bff}p{line-height:1.5}</style></head><body><header><h1>Welcome to My Awesome Website!</h1></header><main><p>This is a sample HTML document created for demonstration purposes.</p><p>Feel free to explore and enjoy the content on this website.</p></main><footer><p>&copy; 2024 My Website. All rights reserved.</p></footer></body></html>"""

# remove all <>. Use Reg ex to remove these things 

text

'<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Welcome to My Website</title><style>body{font-family:\'Arial\',sans-serif;background-color:#f0f0f0;color:#333;margin:20px}h1{color:#007bff}p{line-height:1.5}</style></head><body><header><h1>Welcome to My Awesome Website!</h1></header><main><p>This is a sample HTML document created for demonstration purposes.</p><p>Feel free to explore and enjoy the content on this website.</p></main><footer><p>&copy; 2024 My Website. All rights reserved.</p></footer></body></html>'

In [20]:
import re

# import the regular expression to find the specific patterns. 
# in the interview perspective this topic is not important

In [21]:
def remove_html_tag(text):
    pattern=re.compile('<.*?>') # Use the Chat Gpt to find the reg expressions. 
    return pattern.sub("",text) # wherever you are seeing the patterns we need to empty it

In [22]:
remove_html_tag(text) # pass our entire text to this req expression.

"Welcome to My Websitebody{font-family:'Arial',sans-serif;background-color:#f0f0f0;color:#333;margin:20px}h1{color:#007bff}p{line-height:1.5}Welcome to My Awesome Website!This is a sample HTML document created for demonstration purposes.Feel free to explore and enjoy the content on this website.&copy; 2024 My Website. All rights reserved."

In [23]:
# apply this remove_html_tag to all 

data["review"]=data["review"].apply(remove_html_tag)

In [24]:
data["review"]

0        ONE OF THE OTHER REVIEWERS HAS MENTIONED THAT ...
1        A WONDERFUL LITTLE PRODUCTION. THE FILMING TEC...
2        I THOUGHT THIS WAS A WONDERFUL WAY TO SPEND TI...
3        BASICALLY THERE'S A FAMILY WHERE A LITTLE BOY ...
4        PETTER MATTEI'S "LOVE IN THE TIME OF MONEY" IS...
                               ...
49995    I THOUGHT THIS MOVIE DID A DOWN RIGHT GOOD JOB...
49996    BAD PLOT, BAD DIALOGUE, BAD ACTING, IDIOTIC DI...
49997    I AM A CATHOLIC TAUGHT IN PAROCHIAL ELEMENTARY...
49998    I'M GOING TO HAVE TO DISAGREE WITH THE PREVIOU...
49999    NO ONE EXPECTS THE STAR TREK MOVIES TO BE HIGH...
Name: review, Length: 50000, dtype: object

In [25]:
# URL removal using LLM using the prompt 

# we can remove the URL using the reg ex. 

text2="checkout youtube channel https://www.youtube.com/@sunnysavita10"

text2

'checkout youtube channel https://www.youtube.com/@sunnysavita10'

In [26]:
# Regular expression 

def remove_url(text):
    pattern=re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub("",text)

In [27]:
remove_url(text2)

'checkout youtube channel '

## Nov 30 Session 04

05. Handling the punctuations

In [14]:
import string

In [15]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
# no need to create the punctuations separately
# Code to remove the punctuations

In [16]:
exclude = string.punctuation

In [31]:
exclude

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:
for char in exclude:
    print(char)

!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
:
;
<
=
>
?
@
[
\
]
^
_
`
{
|
}
~

In [18]:
text="string @ * ( ) with punctuations"

In [19]:
def remove_pun(text):
    for char in exclude:
        text=text.replace(char,"")
    return text

In [20]:
remove_pun(text)

'string     with punctuations'

In [21]:
text3='my name is ra@@@@%%%%*****((((()))))ju'

In [22]:
remove_pun(text3)

'my name is raju'

In [30]:
data["review"]

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. <br /><br />The...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [ ]:
## REmove punctuations from the review column

data["review"]=data["review"].apply(remove_pun)

# like this we can apply on the same data.

## Abbreviation 
LAMO - some funny word 
ASAP - as soon as possible 
FYI - For Your Information.

In [ ]:
## How can handle this type of data. 

text1="FYI this is not true"
text2="LAMO the class was so funny"
text3="I want it ASAP"

In [34]:
# Create a dictionaty and put all these type of words
chat_words={
    "AFAIK":"As Far As I Know",
    "AFK":"Away From Keyboard",
    "ASAP":"As Soon As Possible",
    "BTW":"By The Way",
    "B4":"Before",
    "LAMO":"Laugh My A.. Off",
    "FYI":"For Your Information"
}

In [35]:
chat_words

{'AFAIK': 'As Far As I Know',
 'AFK': 'Away From Keyboard',
 'ASAP': 'As Soon As Possible',
 'BTW': 'By The Way',
 'B4': 'Before',
 'LAMO': 'Laugh My A.. Off',
 'FYI': 'For Your Information'}

In [37]:
chat_words["AFAIK"]

'As Far As I Know'

In [43]:
## 

def chat_conversion(text):
    new_text= []
    for w in text.split():   # Split all the text 
        if w.upper() in chat_words: # convert each word in upper and check if its available in the chat_words
            new_text.append(chat_words[w.upper()]) # if the word is available then append that word to new_text
        else:
            new_text.append(w) # Else just add this new word which is not available inside the chat_words to the new text.
    return " ".join(new_text) # finally we are joining all the new text with space

In [44]:
chat_conversion(text3)

'I want it As Soon As Possible'

In [45]:
chat_conversion(text1)

'For Your Information this is not true'

In [46]:
chat_conversion(text2)

'Laugh My A.. Off the class was so funny'